.task {
  position: relative;
  padding-left: 72px;
  width: 100%;
  height: 64px;
  font-size: 18px;
  background-color: var(--white);
  color: var(--very-dark-blue);

  border-bottom: 1px solid var(--very-light-gray-blue);

  cursor: pointer;
  img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 24px;
    top: 20px;
  }
}

.taskdone {
  position: relative;
  padding-left: 72px;
  width: 100%;
  height: 64px;
  font-size: 18px;
  background-color: var(--white);
  color: var(--light-gray-blue);
  text-decoration: line-through;

  border-bottom: 1px solid var(--very-light-gray-blue);
  cursor: pointer;
  img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 24px;
    top: 20px;
  }
}
