.todolist {
  position: absolute;
  width: 540px;
  top: 70px;
  left: 50%;
  transform: translate(-50%, 0);
}

.title {
  color: var(--white);
  h1 {
    font-size: 40px;
  }
}

.newTask {
  position: relative;
  margin-top: 48px;

  input {
    padding-left: 72px;
    width: 100%;
    height: 64px;
    border-radius: 5px;
    font-size: 18px;
    outline: 0;
    border: none;
  }
  img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 24px;
    top: 20px;
  }
  ::placeholder  {
    font-size: 18px;
    color: var(--dark-gray-blue);
  }
}

.task {
  position: relative;
  padding-left: 72px;
  width: 100%;
  height: 64px;
  font-size: 18px;
  background-color: var(--white);
  color: var(--very-dark-blue);

  border-bottom: 1px solid var(--very-light-gray-blue);
  img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 24px;
    top: 20px;
  }
}

.tasks {
  background-color: var(--white);
  border-radius: 5px;
  margin-top: 24px;
  overflow: hidden;
}
.footer {
  padding: 0 24px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 18px;
  grid-row-gap: 0px;

  color: var(--dark-gray-blue);
  font-size: 14px;
}
.states {
  font-weight: bold;
  gap: 18px;
}
