@use "../../assets/styles/mixins" as mixin;

.tasks {
  background-color: var(--white);
  border-radius: 5px;
  margin-top: 24px;
  overflow: hidden;
  box-shadow: 0px 35px 50px -15px var(--light-gray-blue);
}

.footer {
  padding: 0 24px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 18px;
  grid-row-gap: 0px;

  color: var(--dark-gray-blue);

  font-size: 14px;
  @include mixin.xs {
    grid-template-columns: repeat(2, 1fr);
  }
  p {
    cursor: pointer;
    @include mixin.xs {
      font-size: 12px;
    }
  }
}
.states {
  font-weight: bold;
  gap: 18px;
  @include mixin.xs {
    display: none !important;
  }
}
.statesMobile {
  display: none;

  @include mixin.xs {
    margin-top: 10px;
    display: flex;
    font-weight: bold;
    gap: 18px;
    color: var(--dark-gray-blue);
    font-size: 12px;
  }
  p {
    cursor: pointer;
  }
}
.active {
  color: var(--bright-blue);
}
